
$mainColor: #D81B60;
$greyTone: #BDBDBD;

h1, h2, h3{
    color: $mainColor;
}

.logoSection{
    background-image: url('/zapatos2.jpg');
    height: 100% !important;
    width: auto !important;
}

.loginFormSection{
    padding-left: 17% !important;
    padding-top: 10% !important;
}

.greyLetter{
    color: $greyTone;
}

.v-btn{
    background-color: $mainColor !important;

}

.standarMargin{
    margin: 1.5% 3% 3% 1% !important;
}

.customTableImage{
    padding-top: 3px !important;
    padding-bottom: 3px !important; 
    max-height: 120px !important;
    max-width: 120px !important;
}

.customLink{
    color: $mainColor !important;
}

.productImageEdit{
    max-height: 300px !important;
    max-width: 300px !important;
}

.mainImageLogin{
    width: 100% !important;
    height: auto !important;
}