<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-spacer></v-spacer>
      <v-toolbar-title style="margin-right: 50px !important;">Bienvenido, <span v-html="userFullname"></span> </v-toolbar-title>
      <v-btn large dark @click="closeSession()">Cerrar sesión</v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-chart-bubble',
          title: 'Zapatos',
          to: '/shoes'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Agregar zapatos',
          to: '/addShoes'
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
      userFullname: '',
    }
  },
  mounted(){
    let user = parseInt(this.$cookiz.get('userLogued'))
      if (user === 0){
        this.$cookiz.removeAll()
        this.$cookiz.set('userLogued', 0)
        this.$router.push('/')
      }
      else{
        this.userFullname = this.$cookiz.get('fullName')
      }
  },
  methods: {
    closeSession(){
      this.$cookiz.removeAll()
      this.$cookiz.set('userLogued', 0)
      this.$router.push('/')
    },
  },
}
</script>
