<template>
  <v-app id="inspire">
    <v-row>
        <v-col sm="4" md="5" cols="12">
            <img src="/zapatos2.jpg" class="mainImageLogin">
        </v-col>
      <v-col sm="7" cols="12" style="background-color:#F7F6F6D1;" class="loginFormSection">
        <v-content>
          <nuxt />
        </v-content>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: true,
    }),
  }
</script>