<template>
    <v-container class="standarMargin">
        <h2 class="mainTitle">
            Agregar Zapatos
        </h2>
        <v-row>
            <v-col cols="12" sm="4" md="4">
                <img src="/default image.png" class="productImage">
                <v-file-input
                   style="width: 80%;"
                   label="Agregar imagen"
                   filled
                   color="#D81B60"
                   prepend-icon="mdi-camera"
                   v-model="shoesImage"
                ></v-file-input>
            </v-col>
            <v-col cols="12" sm="6" md="6">
                <v-form ref="formAddProduct">
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesReference"
                                label="Código"
                                color="#D81B60"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesName"
                                label="Nombre"
                                color="#D81B60"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesDescription"
                                label="Descripción"
                                color="#D81B60"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesQuantity"
                                label="Cantidad en inventario"
                                color="#D81B60"
                                :rules="[rules.required, rules.isNumber]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-btn x-large dark @click="addNewShoes()"> Agregar al inventario </v-btn>
                    </v-row>
                </v-form>
            </v-col>
            <v-col cols="12" sm="10" md="10">
                <v-alert type="error" v-if="errorAddingShoes">
                  Error al intentar crear el producto. 
                  <span v-html="errorDescription"></span>
                </v-alert>
                <v-alert type="success" v-if="successAddingShoes">
                  Zapatos agregados correctamente
                </v-alert>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            shoesReference: '',
            shoesName: '',
            shoesDescription: '',
            shoesQuantity: '',
            shoesState: true,
            shoesImage: [],
            rules: {
              required: value => !!value || 'Campo requerido ',
              email: v => /.+@.+\..+/.test(v) || 'Debe ingresar un correo válido',
              isNumber: v => !isNaN(v) || 'Valor debe ser número'   
            },
            successAddingShoes: false,
            errorAddingShoes: false,
            errorDescription: '',
        }
    },
    methods: {
        addNewShoes(){
            if (!this.$refs.formAddProduct.validate()) 
                return

            this.successAddingShoes = false
            this.errorAddingShoes = false

            this.$store.dispatch('shoes/addNewShoes', {
                reference: this.shoesReference,
                name: this.shoesName,
                description: this.shoesDescription,
                quantity: this.shoesQuantity,
                image: this.shoesImage
            })
                .then(response => {
                    console.log(response);
                    if (response.code === 200){
                        this.successAddingShoes = true
                        this.errorAddingShoes = false
                        setTimeout(() => {
                            this.goToShoesList()
                        }, 1000);
                    }
                    else{
                        this.errorAddingShoes = true
                        this.errorDescription = response.description
                        this.successAddingShoes = false
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        goToShoesList(){
            this.$router.push('/shoes')
        }  

    },
    computed: {
        stateDescription(){
            return this.shoesState ? 'Activado' : 'Desactivado';
        }
    },
}
</script>