<template>
    <v-container class="standarMargin">
        <h2 class="mainTitle">
            Editar Zapatos
        </h2>
        <v-row>
            <v-col cols="12" sm="4" md="4">
                <img :src="shoesImage" class="productImageEdit">
                <br><br>
                <v-file-input
                   style="width: 80%;"
                   label="Actualizar imagen"
                   filled
                   color="#D81B60"
                   prepend-icon="mdi-camera"
                   v-model="fileShoesImage"
                ></v-file-input>
            </v-col>
            <v-col cols="12" sm="6" md="6">
                <v-form ref="formEditProduct">
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesCode"
                                label="Código"
                                color="#D81B60"
                                readonly
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesName"
                                label="Nombre"
                                color="#D81B60"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesDescription"
                                label="Descripción"
                                color="#D81B60"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <v-text-field
                                v-model="shoesQuantity"
                                label="Cantidad en inventario"
                                color="#D81B60"
                                :rules="[rules.required, rules.isNumber]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="10" md="10">
                            <span>Habilitar/Deshabilitar producto</span>
                            <v-switch
                              v-model="shoesState"
                              :label="stateDescription"
                              color="#D81B60"
                            ></v-switch>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-btn x-large dark @click="updateShoes()"> Actualizar </v-btn>
                    </v-row>
                </v-form>
            </v-col>
            <v-col cols="12" sm="10" md="10">
                <v-alert type="error" v-if="errorUpdatingShoes">
                  Error al actualizar el producto.
                  <span v-html="errorDescription"></span>
                </v-alert>
                <v-alert type="success" v-if="successUpdatingShoes">
                  Zapatos actualizados correctamente.
                </v-alert>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            shoesId: '',
            shoesCode: '',
            shoesName: '',
            shoesDescription: '',
            shoesQuantity: '',
            shoesState: true,
            shoesImage: [],
            fileShoesImage: [],
            rules: {
              required: value => !!value || 'Campo requerido ',
              email: v => /.+@.+\..+/.test(v) || 'Debe ingresar un correo válido',
              isNumber: v => !isNaN(v) || 'Valor debe ser número'   
            },
            errorUpdatingShoes: false,
            successUpdatingShoes: false,
            errorDescription: '',
        }
    },
    mounted() {
        this.shoesId = parseInt(this.$cookiz.get('shoesToEdit'))
        this.getShoesInfo()
    },
    methods: {
        getShoesInfo(){
            this.$store.dispatch('shoes/getShoesById', { shoesId: this.shoesId })
                .then(response => {
                    console.log(response);
                    if (response.code === 200) {
                        let data = response.data
                        this.shoesCode = data.reference
                        this.shoesName = data.name
                        this.shoesDescription = data.description
                        this.shoesQuantity = data.quantity
                        this.shoesState = data.status === 'ACTIVE'
                        this.shoesImage = data.image
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        updateShoes(){
            if (!this.$refs.formEditProduct.validate()) 
                return

            this.errorUpdatingShoes = false
            this.successUpdatingShoes = false

            this.$store.dispatch('shoes/updateShoes', {
                shoesId: this.shoesId,
                name: this.shoesName,
                description: this.shoesDescription,
                quantity: parseInt(this.shoesQuantity),
                image: this.fileShoesImage,
                status: this.shoesState ? 'ACTIVE' : 'INACTIVE'
            })
                .then(response => {
                    console.log(response);
                    if (response.code === 200) {
                        this.successUpdatingShoes = true
                        this.errorUpdatingShoes = false
                        this.getShoesInfo()
                        setTimeout(() => {
                            this.$router.push('/shoes')
                        }, 1500);
                    }
                    else{
                        this.successUpdatingShoes = false
                        this.errorUpdatingShoes = true
                        this.errorDescription = response.description
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        }
    },
    computed: {
        stateDescription(){
            return this.shoesState ? 'Activado' : 'Desactivado';
        }
    },
}
</script>