<template>
  <v-container>
    <v-form ref="loginForm">
      <h2>Zapatería Stefanini - Control de inventario</h2>
      <span class="greyLetter"><i>Iniciar sesión</i></span>
      <v-row>
        <v-col cols="12" sm="6" md="6">
            <v-text-field
              v-model="email"
              label="Correo eléctronico"
              :rules="[rules.required, rules.email]"
              required
              color="#D81B60"
            ></v-text-field>
        </v-col>
      </v-row>
      <v-row> 
        <v-col cols="12" sm="6" md="6">
          <v-text-field
            v-model="password"
            label="Contraseña"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            @click:append="show1 = !show1"
            color="#D81B60"
            @keyup="tryToLogin"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6" md="6">
            <v-btn x-large dark @click="login()">Ingresar</v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-alert type="error" v-if="errorLogin">
          Credenciales incorrectas. Por favor intente de nuevo. 
        </v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>


export default {
  layout: 'login',
  components: {
    
  },
  data() {
    return {
      email: '',
      password: '',
      show1: false,
      rules: {
        required: value => !!value || 'Campo requerido ',
        min: v => v.length >= 8 || 'La clave tiene al menos 8 caracteres',
        email: v => /.+@.+\..+/.test(v) || 'Debe ingresar un correo válido'
      },
      successLogin: false,
      errorLogin: false,
      errorDescription: '',
    }
  },
  mounted() {
    this.verifyUserIsLogued()
  },
  methods: {
    encryptSha1(value){
      let sha1 = require('js-sha1')
      return sha1(value)
    },
    tryToLogin(e){
      if (e.keyCode == 13)
        this.login()
    },
    login(){
      if (!this.$refs.loginForm.validate()) 
        return

      this.errorLogin = false

      this.$store.dispatch('onboarding/login', {email: this.email,  password: this.encryptSha1(this.password)})
        .then(response => {
          console.log(response);
          if (response.code === 200) {
            let data = response.data
            this.$cookiz.set('userLogued', 1)
            this.$cookiz.set('fullName', data.fullName)
            this.$cookiz.set('email', data.email)
            this.$router.push('/shoes')
          }
          else{
            this.errorLogin = true
          }
        })
        .catch(error => {
          console.log(error);
        })
    },
    verifyUserIsLogued(){
      let user = parseInt(this.$cookiz.get('userLogued'))
      if (user !== 0) 
        this.$router.push('/shoes')
    }
  },
}
</script>
