<template>
    <v-container class="standarMargin">
        <h2 class="mainTitle">
            Zapatos
        </h2>
        <v-row>
            <v-col cols="12" sm="3" md="3">
                <v-text-field
                    v-model="needleCode"
                    label="Buscar por código"
                    color="#D81B60"
                    @keyup="filterShoes(1)"
                ></v-text-field>
            </v-col>
            <v-col cols="12" sm="3" md="3">
                <v-text-field
                    v-model="needleName"
                    label="Buscar por nombre"
                    color="#D81B60"
                    @keyup="filterShoes(2)"
                ></v-text-field>
            </v-col>
            <v-col cols="12" sm="3" md="3">
                <v-btn large dark @click="goToAddShoes()"> Agregar zapatos </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" sm="12" md="12">
                <span class="greyLetter">
                    Puede hacer click sobre el nombre del producto si desea editarlo
                </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" sm="10" md="10">
                <v-data-table
                  :headers="headers"
                  :items="desserts"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  hide-default-footer
                  class="elevation-1"
                  @page-count="pageCount = $event"
                >
                    <template v-slot:item.image="{ item }">
                        <img :src="item.image" class="customTableImage">
                    </template>
                    <template v-slot:item.name="{ item }">
                        <a @click="goToEditShoes(item.name[0])" v-html="item.name[1]" class="customLink"></a>
                    </template>
                </v-data-table>
                <div class="text-center pt-2">
                  <v-pagination v-model="page" :length="pageCount"></v-pagination>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            needleCode: '',
            needleName: '',
            page: 1,
            pageCount: 0,
            itemsPerPage: 10,
            headers: [
                {text: 'Imagen', value:'image'},
                {text: 'Referencia/Código', value: 'reference'},
                {text: 'Nombre', value: 'name'},
                {text: 'Descripción', value: 'description'},
                {text: 'Cantidad', value: 'quantity'},
                {text: 'Estado', value: 'status'},
            ],
            desserts: []   
        }
    },
    mounted() {
        this.getAllShoes()
        
    },
    methods: {
        goToAddShoes(){
            this.$router.push('/addShoes')
        },
        goToEditShoes(shoesId){
            this.$cookiz.set('shoesToEdit', parseInt(shoesId))
            this.$router.push('/editShoes')
        },
        getAllShoes(){
            this.$store.dispatch('shoes/getAllShoes', {})
                .then(response => {
                    console.log(response);
                    if (response.code === 200) 
                    {
                        response.data.forEach(shoes => {
                            this.desserts.push({
                                image: shoes.image,
                                reference: shoes.reference,
                                name: [shoes.shoesId, shoes.name],
                                description: shoes.description,
                                quantity: shoes.quantity,
                                status: shoes.status === 'ACTIVE' ? 'Activo' : 'Inactivo'
                            })
                        });    
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        filterShoes(criteria){
            criteria = parseInt(criteria)
            this.$store.dispatch('shoes/filterShoes', {
                searchCriteria: criteria,
                needle: criteria === 1 ? this.needleCode : this.needleName
            })
                .then(response => {
                    console.log(response);
                    if (response.code === 200){
                        this.desserts = []
                        response.data.forEach(shoes => {
                            this.desserts.push({
                                image: shoes.image,
                                reference: shoes.reference,
                                name: [shoes.shoesId, shoes.name],
                                description: shoes.description,
                                quantity: shoes.quantity,
                                status: shoes.status === 'ACTIVE' ? 'Activo' : 'Inactivo'
                            })
                        });    
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        }  
    },
}
</script>